@model MvcApplication1.Models.user
@{
    ViewBag.title = "Request New password";
    Layout = "~/Views/Shared/public.cshtml";
}
<section id="body-container">
    <div class="wrapper">
        <div class="content clr rel ">
            <div class="accessgrid br4">
                <div class="content clr rel ">
                    <div class="accessgrid br4">
                        <h2 class="large fbold c62 marginbott10">Change password </h2>
                        <div class="accessbox bre3 br4 rel">
                            <div class="inner">
                                <form class="default access change-password type3 margintop30 pdingbott30" id="mainForm"
                                    action="/Account/resetpass" method="post">
                                    <fieldset class="rel">
                                        <div class="fblock clr">
                                            <div class="label fleft c000 fbold tright">
                                                <label for="userEmail">
                                                    Email <em class="cc914">*</em></label>
                                            </div>
                                            <div class="area clr">
                                                <div class="focusbox fleft rel smallshadow">
                                                    <div class="clr">
                                                         @Html.TextBoxFor(m => m.email, new { maxlength = 30, @class = "light br3" })
                                                        <span class="status icon vmiddle inlblk dnone"></span>
                                                         @Html.ValidationMessageFor(m => m.email)
                                                    </div>
                                                    <p class="desc errorboxContainer"><small>Enter your email</small> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fblock clr">
                                            <div class="label fleft c000 fbold tright">
                                                <label for="userPass">
                                                    New password<em
                                                        class="cc914">*</em></label>
                                            </div>
                                            <div class="area clr">
                                                <div class="fleft rel focusbox smallshadow">
                                                    <div class="clr">
                                                          @Html.PasswordFor(m => m.password, new { maxlength = 50, value = ViewBag.Selpwd, @class = "light br3" })
                                                        <span class="status icon vmiddle inlblk dnone"></span>
                                                         @Html.ValidationMessageFor(m => m.password)
                                                    </div>
                                                    <p class="desc errorboxContainer"><small>Enter your new password</small> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fblock clr">
                                            <div class="label fleft c000 fbold tright">
                                                <label for="userPass-repeat">
                                                    Repeat 
                      password<em class="cc914">*</em></label>
                                            </div>
                                            <div class="area clr">
                                                <div class="fleft rel focusbox smallshadow">
                                                    <div class="clr">
                                                        @Html.PasswordFor(m => m.password2, new { maxlength = 50, value = ViewBag.Selpwd, @class = "light br3" })
                                                      <span class="status icon vmiddle inlblk dnone"></span>
                                                          @Html.ValidationMessageFor(m => m.password2)
                                                    </div>
                                                    <p class="desc errorboxContainer">
                                                        <small id="se_userPass-repeatErr">Repeat your 
                        password</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fblock">
                                            <div class="label fleft c000 fbold tright"></div>
                                            <div class="area clr">
                                                <p>
                                                    <span
                                                        class="button br3 large big">
                                                        <input class="cfff" id="se_userSignIn" type="submit" value="Change">
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

